# Ignorar la carpeta de dependencias pesadas
node_modules/

# Ignorar la carpeta de producción cuando compiles
dist/

# Ignorar archivos de configuración local del editor o del sistema
.DS_Store
.vscode/
*.local